.idea
application-dev.yml
/HELP.md
/target/
/alta-back-end/target
/db/
/logs/
/alta-back-end.iml
/alta-front-end.iml
/alta-front-end/.env
/alta-front-end/middleware.js
/alta-back-end/alta-back-end.iml
/alta-back-end/src/main/java/com/alta/web/controller/TestController.java
/alta-back-end/src/main/java/com/alta/test/
/alta-back-end/src/main/resources/db/

