<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task list with answers</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <table class="table table-responsive table-bordered table-striped text-center table-hover">
            <thead>
            <tr class="table-success">
                <th>Task level</th>
                <th>Task image</th>
                <th>Task description</th>
                <th>Task answer</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="task : ${tasksWithAnswers}">
                <td data-th-text="${task.level}"></td>
                <td><img data-th-src="@{${task.pathToImage}}"></td>
                <td data-th-utext="${task.description}"></td>
                <td data-th-text="${task.answer}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>