<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"
      lang="ua">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task list with answers</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center table-hover">
            <thead>
                <tr class="table-success">
                    <th>Task title</th>
                    <th>Task level</th>
                    <th>Task image</th>
                    <th>Task description</th>
                    <th>Task answer</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="task : ${tasksWithAnswers}">
                    <td data-th-text="${task.title}"></td>
                    <td data-th-text="${task.level}"></td>
                    <td>
                        <img data-th-src="@{${task.imagePath}}" alt="">
                    </td>
                    <td data-th-utext="${task.textHtml}"></td>
                    <td data-th-text="${task.answer}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>